:root {
    --grid-cols: 1;
    --grid-rows: 1;
    --font: 'Open Sans', sans-serif;
  }

body {
  background-color: #ededed;
}

.main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
  max-width: 1100px;
  margin: 0 auto;
}
  
.grid-container {
    display: grid;
    border: 1px solid;
    background-color: white;
    margin-top: 30px;
    width: 100vh;
    height: 100vh;
    max-height: 82vh;
    max-width: 82vh;
  }
  
.grid-item {

}

.settings {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-left: 25px;
}

.settings > * {
  width: 150px;
  gap: 16px;
  text-align: center;
  font-family: var(--font);
  font-size: 20px;
}

.settings > *:hover{
  background-color: rgba(211, 212, 212, 0.822);
  transform: scale(1.1)
}

#size-display:hover{
  background-color: none;
  transform: none
}

#color-picker {
  height:150px;
  width: 150px;
}

.header {
  background-color: #a8a8a8;
  padding: 15px;
}

h1 {
  text-align: center;
  font-family: var(--font)
}

